* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainOrange: #f15025;
  --mainYellow: #d2aa5c;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: white;
}
